<html> 
    <head> 
        <title> Codet: Note Taking </title>
        <link rel="stylesheet" href="/style.css" > 
    </head>
    
    <body> 


        <div class="container app">
          <aside class="sidebar">
            <h1 class="logo">
              <a href="#"><strong>codet</strong></a>
            </h1>
            <nav class="main-nav">
              <ul>
                <li><a href="#">Profile</a></li>
                <li class="active">
                  <a href="#">My Notes</a><br />
                  <a href="/new" class="btn btn-primary">New Note</a>
                  <ul>
                    <li class="active"><a href="#">Note One</a></li>
                    <li><a href="#">Note Two</a></li>

                  </ul>

              </ul>
            </nav>
          </aside>
          <div class="main">
            <header class="header">
              <form action="">
                <input type="search" name="s" placeholder="Search Notes" />
              </form>
              <nav class="nav-settings">
                <ul>
                  <li><a href="#">Albus Dumbledore</a></li>
                  <li><a href="#" class="icon icon-gear"></a></li>
                </ul>
              </nav>
              <div class="clr"></div>
            </header>
              
    <div class="container">
          
        {{{body}}}
      
   
    </div>
  </div>
</div>
    
        
    </body>
    </html>