{{#each results}}
 
<div class="messages" id="liveContainer" style="width:100%;">
    
    <h1> <span id="title"> {{subject}} </span></h1>
    

     <div class="body" id="noteBody" style="padding:3%;"> {{note}} </div>
    
</div>
    
{{/each}}